.request-form-card {
    /* grid-column: span 3; */
    border: 1px solid red;
    max-width: 1200px;
    padding: 30px 30px;
    margin-top: 40px;
    margin-bottom: auto;
}

.form_sidebar-nav{
    width: 23%;
    margin-right: 40px;
    height: 100%;
    position: sticky;
    top: 0;
}

h3{
    text-align: center;
    margin: 50px 15px;
}

