.achieve {
    /* display: grid; */
    /* grid-template-columns: 0.25fr 2fr; */
    background-image: url("/Users/adnan/Desktop/pursuit/PROJECT/capstone-project/front-end/public/images/floating-cogs 2.svg");
    background-position: center;
    align-items: center;
    background-color: #c6eaf6;
    height: 100vh;
    background-size: 10%;
    justify-content: center;
    background-repeat: repeat;
}

.logo {
    animation: logo-spin infinite 20s linear;
    pointer-events: none;
    align-items: center;
    text-align: center;
}
.achieve p {
  font-size: 60px;
  font-weight: bold;
  color: #42999b;
  text-align: center;
  align-items: center;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }