/* .main-page{ */
    /* display:grid; */
    /* grid-template-columns: repeat(1,1fr); */
    /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
    /* margin-bottom: 2rem; */
    /* margin-top: 30px; */
    /* margin-bottom: auto; */

    /* height: 700px; */
/* } */

.main-page h3 .accepted-request{
    margin: 0px;
    margin-top: -25px;
    margin-left: 10px;  
}
.user-dashboard{
    position:fixed;
}

.main-page h3 .completed{
    margin: 0px;
    margin-left: 10px;  
}
.Accepted{
    /* display: flex;
    overflow-x: scroll;
    max-width: 1100px;
    overflow-y: hidden;
    white-space: nowrap;
    border: #F6EAE6 solid 1px;
    height: 380px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px; */
    /* min-height: 200px; */
    margin: 15px;
    display: grid;
    margin-top: 30px;
    margin-bottom: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 2.5rem;
    gap: 2.5rem
}
.History{
    /* display: flex;
    overflow-x: scroll;
    max-width: 1100px;
    overflow-y: hidden;
    white-space: nowrap;
    border: #F6EAE6 solid 1px;
    height: 380px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px; */
    margin: 15px;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 2.5rem;
    gap: 2.5rem
}
.comphead {
    padding-top: 40px;
}

.accepted-request{
 padding-top: 30px;
}