.dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.userdashboard{
    margin-left: 2vh;
    height: 100vh;
    overflow: scroll;
}
.request__select{
    display: none;
}
.phone-userdashboard{
    display: none;
}

@media screen and (max-width: 400px) {
   .dashboard{
    display: grid;
    grid-template-columns: 1fr;
   }
   .userdashboard{
    display: none;
    margin: auto  

}
.phone-userdashboard{
    display: block;
    width: 100%;
    margin: auto;

}

    .request__select{
        display: block;
        text-align: center;
        font-size:x-large;
        position: sticky;
        width: 100vw;
        top: 20px
    }
    .phone{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        padding-bottom: 4vh;
        min-height: 80vh;
    }
    .phone__search{
        display: block;
        font-size: 1.2rem;
        width: 100vw;
        padding: 0 5vw ;
        text-align: center;
    }
}