.my-requests{
    margin: 15px;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2.5rem;
}

.head{
    margin-left: 10px;
    padding-top: 30px;
}

.no-requests{
    font-size: x-large;
    text-align: center;
    margin-top: 45px;
}
