.new-req{
    display: grid;
    grid-template-columns: 7fr 25fr;
    position: fixed;
}

.request-form{
    height: 100%;
    width: 100%;
    margin: 15px;
}

.request-form h3{
    text-align: center;
    margin: 50px 15px;
}

.form-button Button{
    background-color: #42999B;
    color: white;
    border: none;
    font-weight: bold;
    padding: 20px 40px 20px 40px;
    border-radius: 50px;
    letter-spacing: .2em;
}

.form-button Button:hover{
    background-color: #B8DEDC;
}

.form-button{
    text-align: center;
}