.main-page{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 50px;
    margin-bottom: auto;

    /* height: 700px; */
}
.open-request-page{
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    overflow: scroll;
    height: 700px; */
    margin: 15px;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 2.5rem;
    gap: 2.5rem;
}
.main-page h3 {
    margin: 0px;
    margin-top: -25px;
    margin-left: 10px;  
}
.user-dashboard{
    position:fixed;
}