.open-requests{
    margin: 15px;
}

.open-list{
    display: flex;
    /* overflow-x: scroll; */
    max-width: 1100px;
    /* grid-template-columns: repeat(3, 1fr); */
    /* overflow-y: hidden; */
    /* white-space: nowrap; */
    /* border: #F6EAE6 solid 1px; */
    height: 380px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.open-requests h3{
    margin-left: 10px;
}