/* .req-card-details {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 2.5rem;
} */
.req-card {
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  /* margin-bottom: 5px; */
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
}
.reqImg {
  width: 100%;
  height: 128px;
  object-fit: cover;
}
/* .req-fig {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
  border-radius: 10px;
  } */
  .req-info {
    margin: 16px;
  }
  .reqdate {
    display: block;
    font-size: 14px;
    line-height: 20px;
  }
  .req-title {
    font-weight: 700;
  }
  /* .assignment {

  } */
  /* .reqtime {

  } */
  .our-badge {
    background-color: #42999b;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    border-radius: 10px;
    padding: 8px;
    position:absolute;
    top: 90px;
    /* margin-left: 8px; */
    margin-top: 8px;
    color: white;
  }













/* .req-card{
  padding: 5px;
  margin: auto;
}

.request {
background: #fff;
}

.req-holder {
display: flex;
flex-flow: column;
align-items: center;
max-width: 1120px;
width: 50%;
margin: 0 auto;

}

.req-wrap {
position: relative;
margin: 15px 0 15px;
box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
-webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
border-radius: 10px;
}

.req-items{
margin-bottom: 24px;
}

.req-fig {
position: relative;
width: 100%;
padding-top: 67%;
overflow: hidden;
border-radius: 10px;
}


.req-fig::after {
content: attr(data-category);
position: absolute;
bottom: 0;
padding: 6px 8px;
max-width: calc((100%) - 60px);
font-size: 12px;
font-weight: 700;
color: #fff;
background-color: #42999b;
box-sizing: border-box;
}

.reqImg {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: block;
width: 100%;
max-width: 100%;
height: 100%;
max-height: 100%;
object-fit: cover;
transition: all 0.2s linear;
}

.reqImg:hover {
transform: scale(1.1);
}

.req-info {
padding: 20px 30px 30px;
}
.card-date{
border-bottom: 1px solid gray;
}
.card-bottom{
font-size: small;
}

.assignment{
float: left;
}

.time{
float: right;
} */