.SideBar {
  background-color: #edf6f9;
  height: 100%;
  width: 100%;
 /* changed originally 45% */
  padding-top: 24.5%;
  padding-bottom: 7rem;
  color: black;
  position: sticky;
  top:0;
}
.header {
  font-weight: bold;
}

.under-click {
  border-top: 1px solid #006d77;
  padding-top: 20px;
}
.text {
  padding-left: 30px;
  padding-right: 10px;
  margin-right: 20px;
  color: black;
}


.react-calendar {
  width: 100%;
  margin: 0px 0px;
  padding-bottom: 7rem;
}


a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #006D77;
}

.coming-soon{
  font-size: small;
}

.bold{
  font-size: 16.5px;
  margin-right: 5px;
}

.bold_link{
  font-weight: bold;
}
  
.SideBar__searchbar input{
  margin-bottom: 20px;
  width: 195px;
}




