.SideBar {
  background-color: #edf6f9;
  height: 100%;
  width: 100%;
  padding-top: 40%;
  padding-bottom: 7rem;
  color: black;
  position: sticky;
  top:0;
}
.header {
  font-weight: bold;
}

.under-click {
  border-top: 1px solid #006d77;
  padding-top: 20px;
}
.text {
  padding-left: 30px;
  padding-right: 10px;
  color: black;
}

.react-calendar {
  width: 100%;
  margin: 0px 0px;
  padding-bottom: 7rem;
}


a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #006D77;
}

.coming-soon{
  font-size: small;
}

