.SideBar {
  background-color: #edf6f9;
  height: 100%;
  padding-top: 100px;
  color: black;
}
.header {
  font-weight: bold;
}

.under-click {
  border-top: 1px solid #006d77;
  padding-top: 20px;
}
.text {
  padding-left: 30px;
  padding-right: 30px;
  color: black;
}

.react-calendar {
  width: 300px;
  margin: 0px 0px;
}
.SideBar {
  height: 730px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #006D77;
}

.coming-soon{
  font-size: small;
}

