.FAQ{
    border: 1px solid black;
}

.FAQ_header{
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    text-transform: uppercase;
    margin: 25px 0;
    letter-spacing: .1em;
}

.FAQ_questions{
    margin: 50px auto;
}
