.new-cards {
  /* padding: 4rem; */
  background: #fff;
  width: 100%;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
h1 {
  margin: 15px;
}

/* FOR THE PARAS AND UNDERLINE */
.paras{
  font-family:'Poppins', sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 15px;
  line-height: 1.71;
}

.underline{
  background: 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-transform: none;
  font-size: 18px;
  line-height: 1.71;
  color: #000!important;
  display: inline-block;
  padding-bottom: 4px;
  position: relative;
  text-align: left;
  text-decoration: none;
  margin-bottom: 60px;
}
  
 
.underline::after{
  /* text-decoration: underline #E29578 2px; */
  background-color: #E29578;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transition: width .1s linear;
  -o-transition: width .1s linear;
  transition: width .1s linear;
  width: 60%;
  
}
.underline:hover::after{
  width: 100%;

}

.new-card-holder { /** adjust it to make room for media queries**/
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.new-cards-items {
  margin-bottom: 24px;
}

.new-info {  /** put elipses here and make the text dynamic**/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.new-info Button{
    background-color: #42999B;
    color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px 50px 10px 50px;
    border-radius: 25px;
    letter-spacing: .2em;
}

.new-info Button:hover{
  background-color: #B8DEDC;
}

h1 {
  text-align: center;
}

.blurbs{ /** make them small or invisible when on mobile **/
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 30px;
}

.blurbs img{
  width: 50px;
}

.blurbs section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* for template */
.card-item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.card-link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.card-pic {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

/* .fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
} */

.card-pic::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #42999b;
  box-sizing: border-box;
}

.card-Img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.card-Img:hover {
  transform: scale(1.1);
}

.card-info {
  padding: 20px 30px 30px;
}

.card-text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

/* media queries */
@media (max-width: 1536px) {
  .new-cards  {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .new-cards  {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .new-cards  {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .new-cards  {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .new-cards  {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .new-cards  {
    width: 100%;
  }
}

/* MINE */
/* @media only screen and (max-width: 1024px) { * for screens 1024 and below make adjustments *
  .content__blog__container {
    width: 84%;
  } */
/* } */

/* @media only screen and (max-width: 1024) {
  .new-cards-items {
    display: flex;
    /* flex-direction: column; */
  /* } */
/* } */

/* @media only screen and (max-width: 1024px) {
  .card-item {
    margin-bottom: 12rem;
  }
} */
