.teamwork{
    font-family:'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../../../public/images/teamwork.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    height: 400px;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-left: 80px;
    flex-direction: column;
    font-weight: 600;
    line-height: 1.2;    
}
.our-team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 6% 0;
    line-height: .9;
    padding-left: 3%;
}
.our-team-img{
    width: 80%;
    opacity: .9;
    border-radius: 2%;
    border-color: #E29578 solid 2px;
}
.position{
    color: gray;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.team{
    padding: 3%;
}

.underline{
    background: 0 0;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 18px;
    line-height: 1.71;
    color: #000!important;
    display: inline-block;
    padding-bottom: 4px;
    position: relative;
    text-align: left;
    text-decoration: none;
    margin-bottom: 60px;
}
    
   
.underline::after{
    /* text-decoration: underline #E29578 2px; */
    background-color: #E29578;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    -webkit-transition: width .1s linear;
    -o-transition: width .1s linear;
    transition: width .1s linear;
    width: 60%;
    
}
.underline:hover::after{
    width: 100%;

}
.name{
    padding-top: 18px;
    font-size: 20px;
    margin: 0;
}
.quotes{
    font-family:'Poppins', sans-serif;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    color:black;
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: right;
    padding-top: 6%;
    padding-right: 5%;
    text-transform: uppercase;
    padding-left: 80px;
    flex-direction: column;
    font-weight: 550;
    line-height: 1.2; 
    font-style: italic;
}

.bio{
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 15px;
    line-height: 1.71;
    text-align: justify;
}

.about_gs{
    padding-right: 10%;
}

.about_gs_subheader{
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    padding-bottom: 25px;
    text-decoration: underline;
}
.about_gs_text{
    padding-bottom: 25px;
    text-align: justify;
    line-height: 1.5em;
}
.about_gs_list p{
    text-decoration: underline;
    text-align: center;
}

.about_gs_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 1.5em;
}

.about_gs_contact{
    border: 5px solid black;
    border-radius: 25px;
    padding: 25px;
    margin-top:90px;
    border-style: groove;
    text-align: center;
}

.about_gs_contact-header{
    text-align: center;
}

.about_gs_contact-form p{
    line-height: 1.5em;
    padding: 15px;
    text-align: center;  
}

.about_gs_contact-button{
    background-color: #42999B;
    color: white;
    border: none;
    font-weight: bold;
    padding: 25px 50px 25px 50px;
    border-radius: 50px;
    letter-spacing: .2em;
    margin-top: 15px;
}

.about_gs_contact-form input{
    margin: 10px;
}

.about_gs_contact-button:hover{
    background-color: #B8DEDC;
}

.about_gs_contact-button{
    text-align: end;
}


/* IPHONE SE */

/* @media screen and (max-width: 800px) {
    .teamwork{
        font-family:'Poppins', sans-serif;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
        width: 90%;
        height: 180px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content:end;
        text-transform: uppercase;
        padding-left: 15px;
        padding-bottom: 10px;

        flex-direction: column;
        font-weight: 500;
        line-height: 1.2;
    }
    .our-team{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 1% 0;
        line-height: .9;
        padding-left: 3%;
    }
    .our-team-img{
        width: 40%;
        opacity: .9;
        border-radius: 4%;
    }

} */

@media screen and (max-width: 400px) {
    .teamwork{
        font-family:'Poppins', sans-serif;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
        width: 100%;
        height: 180px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content:flex-end;
        text-transform: uppercase;
        padding-left: 15px;
        padding-bottom: 10px;

        flex-direction: column;
        font-weight: 500;
        line-height: 1.2;
    }
    .our-team{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 1% 0;
        line-height: .9;
        padding-left: 3%;
    }
    .our-team-img{
        width: 70%;
        opacity: .9;
        border-radius: 2%;

    }

    .position{
        color: gray;
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 15px;
    }
    .team{
        padding: 3%;
    }
    .underline{
        background: 0 0;
        background-position: center center;
        background-repeat: no-repeat;
        border: 0;
        cursor: pointer;
        margin: 0;
        padding: 0;
        text-transform: none;
        font-size: 14px;
        line-height: 1.71;
        color: #000!important;
        display: inline-block;
        padding-bottom: 3px;
        position: relative;
        text-align: left;
        text-decoration: none;
        margin-bottom: 30px;
    }
    .underline::after{
        /* text-decoration: underline #E29578 2px; */
        background-color: #E29578;
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        -webkit-transition: width .1s linear;
        -o-transition: width .1s linear;
        transition: width .1s linear;
        width: 60%;
        
    }
    .underline:hover::after{
        width: 100%;
    }
    .name{
        padding-top: 18px;
        font-size: 18px;
        margin: 0;
    }
    .quotes{
        font-family:'Poppins', sans-serif;
        background-repeat: no-repeat;
        width: 100%;
        height: 180px;
        color:black;
        font-size: 15px;
        display: flex;
        justify-content: center;
        text-align: right;
        padding-top: 0%;
        padding-right: 5%;
        text-transform: uppercase;
        padding-left: 80px;
        flex-direction: column;
        font-weight: 500;
        line-height: 1.2; 
        font-style: italic;
    }
    
    .bio{
        font-family:'Poppins', sans-serif;
        font-weight: 300;
        text-transform: none;
        font-size: 14px;
        line-height: 1.71;
    }

}