
/* .personal{
    display: grid;
    grid-template-columns: 1fr;
}
.upper{
    display: grid;
    grid-template-columns: 1fr 3fr;
} */

.personal-page{
    /* background-color: #B8DEDC; */
    /* height: 650px; */
    align-items: center;
    justify-content: center;
    text-align: center;

}
.linked img{
    width: 70px;
    margin-top: 30px;
    justify-content: center;
    padding: 0px;
    margin-left: 70px 
}
.personal-page .image{
    /* width: 500px;
    height: 250px; */
    width: 60%;
    margin-top: 80px;
    border-radius: 15px;
}
.staff-name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 30px;
    font-size: 2.5rem;
    font-weight: bold;
}
/* .grid{ */
    /* background-color: #F1B9A5; */
    /* display:grid;
    grid-template-columns: 1fr;
    text-align: left;
    margin-top: 0px;
} */
/* .team-skills{ */
    /* background-color: #F6EAE6; */
    /* height: 300px; */
    
/* } */
/* contact */
.contact-container {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(to bottom, black, gray 800); */
    padding: 4px;
    /* color: white; */
  }
  
  .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
  }
  
  .contact-header {
    padding-bottom: 8px;
  }
  
  .contact-title {
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 4px solid black;
    display: inline;
  }
  
  .contact-subtitle {
    padding-top: 6px;
    font-size: 20px;
  }
  
  .contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-form-inner {
    width: 100%;
    /* max-width: 50%; */
  }
  
  .contact-input {
    padding: 10px;
    width: 100%;
    /* background: transparent; */
    border: 2px solid black;
    border-radius: 4px;
    /* color: white; */
    margin: 4px 0;
  }
  
  .contact-button {
    cursor: pointer;
    background: linear-gradient(to right, cyan 50%, teal 50%);
    background-size: 200% 100%;
    /* color: white; */
    margin: 8px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  .contact-button:hover {
    transform: scale(1.1);
    background-position: -100% 0;
  }
  
  .contact-footer-text {
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .contact-footer-text:hover {
    transform: scale(1.05);
    color: cyan;
  }
  
.skills{
    margin-top: 20px;
    text-align: center;
    padding-left: 20px;
    /* margin-left: 200px; */
}