.testimonials{
    font-family:'Poppins', sans-serif;
    background-color: #42999B;
    color: white;
    display: grid;
    grid-template-areas: "h h h h"
    "a b c d";
    text-align: center;
}

.testimonials h1{
    grid-area: h;
    margin-top: 20px;
}

.testimonials img{
    border-radius: 15%;
}

.testimonial-one{
    margin: 20px;
    padding: 10px;
}
.testimonial-two{
    margin: 20px;
    padding: 10px;
}
.testimonial-three{
    margin: 20px;
    padding: 10px;
}
.testimonial-four{
    margin: 20px;
    padding: 10px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
    .testimonials {
        text-align: center;
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-areas: 
        "o t"
        "s f";
    }
    .testimonials img {
        width: 90%;
    }
    .testimonials h1 {
        font-size: 1rem;
    }
    .testimonial-one {
        grid-area: o;
    }
    .testimonial-two {
        grid-area: t;
    }
    .testimonial-three {
        grid-area: s;
    }
    .testimonial-four {
        grid-area: f;
    }
    .testimonials h1 {
        display: none;
    }
    .testimonials h3 {
        font-size: 1rem;
        margin-top: 5px;
    }
    .testimonials p {
        font-size: 0.75rem;
    }
}
