.testimonials{
    font-family:'Poppins', sans-serif;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);;
    /* background-color: #42999B; */
    box-shadow: 2px 2px 4px silver;
    color: #42999B;
    display: grid;
    grid-template-areas: "h h h h"
    "a b c d";
    text-align: center;
}

.testimonials > div {
    
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
        );
        border-radius: 1rem;
        z-index: 2;
        backdrop-filter: blur(2rem);
        padding: 1em;
}

.testimonials h1{
    grid-area: h;
    margin-top: 20px;
}

.testimonials img{
    border-radius: 15%;
}

.testimonial-one{
    margin: 20px;
    padding: 10px;
}
.testimonial-two{
    margin: 20px;
    padding: 10px;
}
.testimonial-three{
    margin: 20px;
    padding: 10px;
}
.testimonial-four{
    margin: 20px;
    padding: 10px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
    .testimonials {
        text-align: center;
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-areas: 
        "o t"
        "s f";
    }
    .testimonials img {
        width: 90%;
    }
    .testimonials h1 {
        font-size: 1rem;
    }
    .testimonial-one {
        grid-area: o;
    }
    .testimonial-two {
        grid-area: t;
    }
    .testimonial-three {
        grid-area: s;
    }
    .testimonial-four {
        grid-area: f;
    }
    .testimonials h1 {
        display: none;
    }
    .testimonials h3 {
        font-size: 1rem;
        margin-top: 5px;
    }
    .testimonials p {
        font-size: 0.75rem;
    }
    .testimonial__img{
        max-width: 110px;
    }
}
