.layout {
  width: 100%;
}
.cards {
  padding: 0rem 4rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  min-width: 150px;
}
.center {
  margin-top: 350px;
}

.showDetails {
  border: none;
  background-color: white;
  color: rgba(90, 24, 49, 0.736);
}

.center :hover {
  color: cadetblue;
  filter: drop-shadow(30px 10px 4px #545475);
}
.expand {
  min-height: 10px;
  max-height: 20px;
}

.details h3 {
  text-align: center;
}

.left {
  margin-left: auto;
}
.right {
  margin-right: auto;
}
.card-holder {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 800px;
  min-width: 200px;
  width: 60vh;
  margin: 0 auto;
}

.card-wrap {
  position: relative;
  margin: 25px 0 25px;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  width: 100%;
}
.flip-card-wrap {
  position: relative;
  margin: 25px 0 25px;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.ellipsis p {
  min-height: 80px;
}

.card-description {
  max-height: 20%;
}

.cards-items {
  margin-bottom: 24px;
}

.buttons {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.back,
.accept,
.reject,
.edit {
  margin-right: 15px;
  padding-left: 80px;
  border: none;
  padding-right: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #42999b;
  font-size: 18px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.2em;
}
.complete{
  background: #42999b;
  font-size: 18px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.2em;
}
.warning {
  font-size: 12px;
}
.red {
  color: red;
}

.back:hover,
.accept:hover,
.reject:hover,
.edit:hover {
  background-color: #b8dedc;
}

.card-fig {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
  border-radius: 10px;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.card-fig::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 0px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #42999b;
  box-sizing: border-box;
  min-width: 40%;
  border-radius: 3px;
  text-align: center;
}

.cardImg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
  min-width: 492.64px;
}

.cardImg:hover {
  transform: scale(1.1);
}

.card-info {
  padding: 20px 30px 30px;
  text-align: center;
}

.card-text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
}

.submit {
  border-radius: 10px;
  padding: 0 10px;
}

/* media queries */
@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards-items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .carditem {
    margin-bottom: 2rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  .accept {
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: 7px;
    min-width: 6vh;
  }

  .details h3 {
    margin-top: -5px;
  }
  .sidebar-nav {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0rem 0rem;
    padding-bottom: 1rem;
  }
  .center {
    display: none;
  }
  .card-holder {
    width: 40vh;
  }
  .card-wrap {
    height: 60vh;
  }
}
