.dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.userdashboard{
    margin-left: 2vh;
    height: 100vh;
    overflow: scroll;
}
.request__select{
    display: none;
}
.phone-userdashboard{
    display: none;
}

@media screen and (max-width: 400px) {
   .dashboard{
    display: grid;
    grid-template-columns: 1fr;
   }
   .userdashboard{
    display: none;
    margin: auto  

}
.phone-userdashboard{
    display: block;
    width: 100%;
    margin: auto;

}

    .request__select{
        display: block;
        text-align: center;
        font-size:x-large;
        position: sticky;
        width: 100vw;
        top: 20px
    }
    .phone{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        padding-bottom: 4vh;
        min-height: 80vh;
    }
    .phone__search{
        display: block;
        font-size: 1.2rem;
        width: 100vw;
        padding: 0 5vw ;
        text-align: center;
    }
}
/**old*/
/* .user-dashboard{
    display:flex;
    grid-template-columns: 7fr 25fr;   
}

.user-dashboard__main-page{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 30px;
    position: sticky;
    margin-bottom: auto;
}

.my-list{
    min-height: 350px;
}
.sidebar-nav{
    width: 23%;
    height: 100%;
    position: fixed;

    top: 0;
} */
