.dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.userdashboard{
    grid-column: span 2;
    margin-right: 20px;
    /* margin-left: 2vh; */
    /* height: 100vh; */
    /* overflow: scroll; */
}

.user-dashboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
}

.request__select{
    display: none;
}
.phone-userdashboard{
    display: none;
}

@media (max-width: 600px) {
    
   .dashboard {
    display: grid;
    grid-template-columns: 1fr;
    
    /* display: flex;
    flex-flow: column; */
   }

   .user-dashboard {
    display: flex;
    flex-flow: column;
    /* grid-template-columns: 7fr 25fr;    */
}

   .userdashboard {
    /* display: none;
    margin: auto   */
    display: flex;
    
    flex-flow: column;
}

/* .phone-userdashboard{
    display: block;
    width: 100%;
    margin: auto;

}

    .request__select{
        display: block;
        text-align: center;
        font-size:x-large;
        position: sticky;
        width: 100vw;
        top: 20px
    }
    .phone{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        padding-bottom: 4vh;
        min-height: 80vh;
    }
    .phone__search{
        display: block;
        font-size: 1.2rem;
        width: 100vw;
        padding: 0 5vw ;
        text-align: center;
    } */
}

