.user-dashboard{
    display:flex;
    grid-template-columns: 7fr 25fr;   
}

.user-dashboard__main-page{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 30px;
    position: sticky;
    margin-bottom: auto;
}

.my-list{
    min-height: 350px;
}
.sidebar-nav{
    width: 23%;
    height: 100%;
    position: fixed;

    top: 0;
}
