.Reviews{
    /* width: 780px; */
    background-color:  #71264314;
    display: grid;
    grid-template-columns: 1fr 6fr ;
    padding: 5px;
    margin-right: 15px;
    border-radius: 10px;
    min-height: 235px;
   
    /* margin-left: 25px; */
}
.Reviews__reviewer-info{
    margin-top: 10px;
}
.reviewer_img {
    padding-right: 20px ; 
}

.Reviews__img{
    width: 100px;   
}
.Reviewer__profile{
    width: 100px;
    border-radius: 50%;
    border: cadetblue solid 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
/* h6{
    margin-right: 10px;
} */
.ellipsis{
    white-space: wrap;
    overflow: hidden;
    display: flex;
    padding-right: 5px;
}


.ReviewCard__rating{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.Reviews__review h6{
    margin-top: 20px;
}
.ReviewCard__date{
    margin: 0 auto;
}
.showMore{
    margin: 0 auto;
    border: none;
    color:cadetblue;
   
}