.Reviews{
    background-color:  #71264314;
    display: grid;
    grid-template-columns: 1fr 6fr ;
    padding: 5px;
    margin-top: 10px;
    margin-right: 15px;
    border-radius: 10px;
    min-height: 200px;
    margin-bottom: 20px;
    box-shadow: 8px 7px 3px 3px rgb(237 234 234);
}
.Reviews__reviewer-info{
    margin-top: 10px;
}
.Reviews__review{
    margin-top: 30px;
}

.reviewer_img {
    padding-right: 20px ; 
}
.Reviews-header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Reviews__img{
    width: 80px;   
}
.Reviewer__profile{
    width: 80px;
    border-radius: 50%;
    border: cadetblue solid 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.ellipsis{
    white-space: wrap;
    overflow: hidden;
    display: flex;
    padding-right: 5px;
}


.ReviewCard__rating{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.Reviews__review h6{
    margin-top: 20px;
}
.ReviewCard__date{
    margin: 0 auto;
}
.showMore{
    margin: 0 auto;
    border: none;
    color:cadetblue;
   
}

