
.achieve {
  /* display: grid; */
  /* grid-template-columns: 0.25fr 2fr; */
  /* grid-template-columns: 7fr 25fr;  */
  background-image: url("/public/images/wheel.svg");
  background-position: center;
  align-items: center;
  background-color: #c6eaf6;
  height: 100%;
  width: 80%;
  background-size: 20%;
  justify-content: center;
  padding-bottom: 20%
  /* background-repeat: ; */
}


.logo {
  animation: logo-spin infinite 20s linear;
  pointer-events: none;
  align-items: center;
  text-align: center;
  /* height: 1vh; */
}
.achieve p {
font-size: 60px;
font-weight: bold;
color: #42999b;
text-align: center;
align-items: center;
text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
           1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.navigate {
border-radius: 10px;
font-weight: bold;
background-color: #42999b;
padding: 10px;
border: 1px solid white;
text-align: center;
align-items: center;
display: flex;
justify-content: center;
margin-left: 530px;
margin-right: 530px;
color: white;
}
.navigate:hover {
box-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}