
.achieve{
    
  background-position: center;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
 
}

.achieve-grid{
display: grid;
grid-template-columns: repeat(2,1fr);
}

.achieve-box{
background-color: whitesmoke;
max-width: 35vw;
box-shadow: 8px 7px 3px 3px rgb(237 234 234);
border-radius: 15px;
margin-top: 50px;
margin-left: 20px;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
font-size:15px
}
.success{
width: 80%;

}
.rating{
margin: auto;
}

.achieve-header{
display: grid;
grid-template-columns: 4fr 1fr

}
.achieve-header svg{
margin-left: auto;
margin-right: 20px; 

}


.rating-component{
width: 100%;
display: flex;
justify-content: center;
}

.rating-component span{
vertical-align: top;
}

.gold{
color: rgb(212, 182, 13);
}
.silver{
color: rgb(124, 118, 118);
}
.black{
color: rgba(0, 0, 0, 0.557);
}
.bronze{
color: rgb(182, 124, 32)
}

.achieve-name{
text-align: center;
margin-left: 4vw;
}
.logo {
  animation: logo-spin infinite 20s linear;
  pointer-events: none;
  align-items: center;
  text-align: center;

}
.achieve p {
font-size: 15px;
text-align: center;
align-items: center;
text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
           1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.navigate {
border-radius: 10px;
font-weight: bold;
background-color: #42999b;
padding: 10px;
border: 1px solid white;
text-align: center;
align-items: center;
display: flex;
justify-content: center;
margin-left: 530px;
margin-right: 530px;
color: white;
}
.navigate:hover {
box-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;;

}

.progress-bar{
background-color: teal;
}

.calendar-nivo{
width: 75vw;
max-width: none;

padding-top: 0px;
padding-bottom: 0px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}