/* .Navbar .Dropdown{
padding: 0;
border: none;
background: none;
} */

.dashboard-nav{
    display: flex;
    flex-direction: row; 
    /* align-items: flex-end; */
    /* margin-left: 60%; */
}

.dash-navbar .profile-pic{
    /* border: 0; */
    /* -webkit-border-radius: 50%; */
    border-radius: 50%;
    /* display: block; */
    /* margin: 0px; */
    /* position: relative; */
    width: 45px;
    /* z-index: 0; */
}
#dropdown{
    background-color: #42999B;
    /* margin-left: 0; */
    font-size: 15px;
    color:white;
}
#dropdown:hover{
    color: black;
}

/* .leftside{
    margin-left: 60%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100px;
} */

#envelope, #bell{
    margin: 12px 5px;
}