.footer{
    background-color: #42999B;
    color: white;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    padding-top: 80px;
    padding-bottom: 40px;
}
.quicklinks{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: left;
}
.links{
    text-align: center;
}

ul{
    margin-left: 26%;
    
}


a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: black;
}

.brand-culture{
    margin-left: 10%;
}

.brand-box{
    border: solid 2px #006D77;
    width: 43%;
    padding: 10px;
    padding-top: 3%;
    margin-bottom: 10px
}

.brand{
background-color: #006D77;
margin-left: 15%;
padding-top: 2%;
}