.footer{
    background-color: #42999B;
    color: white;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    padding-top: 80px;
}
.quicklinks{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}
.logo{
    text-align: center;
}
ul{
    margin-left: 30%;
}
.brand-culture{
    margin-left: 10%;
}