.footer{
    background-color: #42999B;
    color: white;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    padding-top: 80px;
    padding-bottom: 40px;
}
.quicklinks{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: left;
    padding-top: 20px;
}
.links{
    text-align: left;
    padding-left: 85px;
}

ul{
    margin-left: 20px ;
    
}


a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: black;
}

.brand-culture{
    margin-left: 10%;
}

.brand-box{
    border: solid 2px #006D77;
    width: 43%;
    padding: 2%;
    padding-top: 3%;
    margin-bottom: 2% ;
}

.brand{
background-color: #006D77;
margin-left: 15%;
padding-top: 2%;
width: 200%;
}
.contact{
    padding-top: 20px;
    padding-left: 25%;
}
.list{
   padding-left: 25%;
}