.home{
    width: 100vw;
    font-family:'Poppins', sans-serif;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 50px;
    display: grid;
    grid-template-areas: "a a a b b b"
    "a a a b b b"
    "a a a b b b"
    "a a a b b b"
    "c c c c c c"
    "c c c c c c"
    "d d d d d d";
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info Button{
    background-color: #42999B;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 50px 10px 50px;
    border-radius: 25px;
    letter-spacing: .2em;
}

.info Button:hover{
    background-color: #B8DEDC;
}

.info{
    grid-area: a;
}

.gallery{
    grid-area: b;
    display: grid;
    gap: 5px;
    grid-template-areas: "bi bi bi"
    "bi bi bi"
    "bi bi bi"
    "i1 i2 i3"
    "i1 i2 i3";
}

.big-image{
    grid-area: bi;
    max-width: 610px;
    border: 8px solid #83C5BE;
}

.image1{
    grid-area: i1;
    max-width: 200px;
    border: 8px solid #83C5BE;
}

.image2{
    grid-area: i2;
    max-width: 200px;
    border: 8px solid #83C5BE;
}

.image3{
    grid-area: i3;
    max-width: 200px;
    border: 8px solid #83C5BE;
}

.blurbs{
    display: flex;
    grid-area: c;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 30px;
}

.blurbs img{
    width: 50px;
}

.blurbs section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bottom-banner{
    grid-area: d;
    text-align: center;
    margin-bottom: 50px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
    .home {
        border: none;
        padding-left: 3vw;
        padding-right: 3vw;
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr 1fr 1fr; */
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d";
    }
    .info {
        text-align: center;
        align-items: center;
    }
    .info Button {
        text-align: center;
        margin-bottom: 0;
    }

    .gallery {
        /* margin-left: 12px; */
        /* flex-flow: column; */
        padding-top: 0;
        align-items: center;
        grid-template-columns: 1fr;
        /* grid-template-columns: 0.75fr 0.75fr 1fr 0.25fr; */
        grid-template-areas: 
        "p1"
        "p2"
        "p3"
        "p4";
        
    }
    .big-image {
        grid-area: p1;
        margin-top: 20px;
        width: 100%;
        /* align-items: center; */
        text-align: center;
    }
    .image1 {
        display: none;
        grid-area: p2;
        width: 100%;
    }
    .image2 {
        display: none;
        grid-area: p3;
        width: 100%;
    }
    .image3 {
        grid-area: p4;
        width: 100%;
    }
    .blurbs img {
        width: 30%;
    }
    .blurbs {
        font-size: small;
    }
    .blurbs h4 {
        font-size: 1rem;
    }
    .bottom-banner {
        font-size: 1.5rem;
    }
}









