.req-card{
    width: 250px;
    margin: 10px;
}

/* .req-card img{
    width: 200px;
} */

.card-bottom{
    border-top: 1px solid gray;
}

.assignment{
    float: left;
}

.time{
    float: right;
}

.clock{
    margin-right: 5px;
}