.seniors{
    margin-bottom: 95px;
}
.senior-page{
    margin: 60px 50px;
    display: grid;
    grid-template-columns: 4fr 3fr;
    /* margin-bottom: 20% */
}
.button{
    background-color: #42999B;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 50px 10px 50px;
    border-radius: 25px;
    letter-spacing: .2em;
    /* margin-left: 50%; */
}

.button:hover{
    background-color:#B8DEDC;
}
