.SideBar {
    background-color: #EDF6F9;
    height: 750px;
    padding-top: 120px;
    color: black;
}
.header{
    font-weight: bold;
}

.under-click{
    border-top: 1px solid #006D77; 
    padding-top: 20px;
}
.text{
    padding-left: 30px;
    padding-right: 30px;
    color:black
}

.react-calendar{
    width: 300px;
    margin: 0px 10px;
}