.signup-text{
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.instructions .p1{
    text-align: center;
}
.instructions .p2{
    text-align: center;
}
.instructions .p3{
    text-align: center;
}

.instructions{
    text-align: left;
    width: 75%;
    margin-top: 5px;
}

.form{
    border: 1px solid black;
    border-radius: 25px;
    margin: 0px 100px 30px 100px;
    padding: 10px;
}

.form-button Button{
    background-color: #42999B;
    color: white;
    border: none;
    font-weight: bold;
    padding: 25px 50px 25px 50px;
    border-radius: 50px;
    letter-spacing: .2em;
}

.form-button Button:hover{
    background-color: #B8DEDC;
}

.form-button{
    text-align: end;
}