.profile-Info {
    display: grid;
    grid-template-columns: 7fr 25fr;
}

.update-form-card {
    border: 1px solid red;
    max-width: 1500px;
    padding: 20px 5px;
    margin: 20px auto;
}

.settings{
    margin-top: 50px;
}
.profile-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-profile{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.form-profile Button{
    background-color: #42999B;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 50px 10px 50px;
    border-radius: 25px;
    letter-spacing: .2em;
    margin: 10px;
}

.form-profile Button:hover{
    background-color: #B8DEDC;
}

.buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-header{
    text-align: center;
}

.settings img{
    width:100px;
}

@media screen and (max-width: 700px) {
   
   
}