.req-card-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: 85%;
  position: absolute;
  top: -30px;
  z-index: 1;
}

.req-card-details {
  position: relative;
  width: 90%;
  max-width: 250px;
}
.req-card {
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
}
.reqImg {
  width: 100%;
  height: 128px;
  object-fit: cover;
  min-height: 128px;
  min-width: 250px;
}

.req-info {
  margin: 16px;
}
.reqdate {
  display: block;
  font-size: 14px;
  line-height: 20px;
}
.req-title {
  font-weight: 700;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
}

.our-badge {
  background-color: #42999b;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  top: 94px;
  margin-top: 8px;
  color: white;
}

@media screen and (max-width: 400px) {
  .req-card-details {
    width: 100%;
  }
}