

.ReviewPage__img{
    border-radius: 25%;
    
    height: 250px;
    width: 250px;
}

.ReviewPage{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: 20px;
    margin-top: 20px;
  
}


.ReviewPage__reviews-list{
    margin-top: 25px;
    margin-right: 5vh;
    margin-left: 4vh;
    height: 95vh;
    overflow: scroll;
   
}
.reviewCount_span{
    font-size: 16px;
    margin-left: 1px;
}

.ReviewPage__personalInfo{
    position: sticky;
}
.ReviewPage__stars{
    margin-top: 20px;
}
.ReviewPage__count{
    margin-top: 15px;
}
.count__result{
    font-size: 15px;
}

.sidebar-nav{
    width: 23%;
    height: 100%;
    position: sticky;
    top: 0;
}
.ReviewPage__personalInfo {
    margin: 15px 0px;
    font-size: 20px;
}
