/* .my-requests{
    margin: 15px;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2.5rem;
} */

.myRequest__title{
    margin: 0px;
    margin-top: -25px;
    margin-left: 10px;  
}
.myRequest__filter{
    min-height: 200px;
    margin: 15px;
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 2.5rem;
    gap: 2.5rem;
    margin-bottom: 5% 
}

.top{
    margin-top: 20px;
}

.noFilter{
    font-size: x-large;
    text-align: center;
    margin-top: 45px;
}

@media only screen and (max-width: 767px) {
    .myRequest__title{
        background-color: aqua;
        text-align: center;
    }
    .myRequest__filter {
    display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
    }

}
/* .request{
    padding-top: 30px;
   } */
